header {
    margin: 0;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    color: #fbfbe1;
    font-size: 25px;
    font-weight: bold;
    background-color: #430b0e;
}

nav {
    display: none;
}

body {
    background-color: #fbfbe1;
    overflow-x: hidden;
}

main section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 0.3em;
}

section h2 {
    grid-column: 1/-1;
    text-transform: capitalize;
    font-size: 35px;
}

section .short-description {
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    section h2 {
        font-size: 45px;
    }
}

.meal {
    position: relative;
    border: 1px solid #430b0e;
    padding: 10px;
    margin: 40px;
    text-align: center;
    background-color: #fbfbe1;
}

button {
    font-size: 15px;
    padding: 10px;
}

img {
    display: block;
    width: 100%;
}

.name {
    font-size: 25px;
    padding: 25px;
    margin: 0;
    color: #430b0e;
}

.discount,
discount-price {
    margin: 10px;
    font-size: 25px;
    border: 3px solid #430b0e;
}

.hide {
    display: none;
}

.old-price {
    font-size: 20px;
    text-decoration-line: line-through;
    color: #430b0e;
}

.price,
.discount-price {
    position: relative;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    color: #430b0e;
}

ol {
    list-style-type: none;
    padding: 0;
    color: #430b0e;
}

li {
    display: inline-block;
    font-size: 30px;
}

h3 {
    display: inline;
}

h4 {
    padding: 0;
    margin: 0;
}

.vege {
    color: green;
}

.alco {
    color: red;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 20px;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.close {
    position: fixed;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.description {
    background: white;
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.image-desc {
    position: relative;
    width: 90%;
}

.name-description {
    text-align: center;
    color: #430b0e;
    padding-right: 7px;
}

.star-description {
    text-align: center;
}

.star-description li {
    font-size: 20px;
}

p {
    grid-column: span 2;
    color: #430b0e;
}

.price-desc {
    text-align: right;
    color: #430b0e;
    padding: 12px;
    font-size: 20px;
}

.allergens {
    padding: 0;
    display: inline;
    color: #430b0e;
}

.allergens li {
    font-size: 17px;
}

footer {
    padding: 5px;
    text-align: center;
    color: #fbfbe1;
    background-color: #430b0e;
    width: 100%;
}
